* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  body {
    color:#000000;
    margin:0px;
    font-size:100%;
  }
  .trytopnav {
    height:40px;
    overflow:hidden;
    min-width:380px;
    position:absolute;
    width:100%;
    top:0px;

    background-color:#E7E9EB;
  }
  .topnav-icons {
    margin-right:8px;
  }
  .trytopnav a {
    color:#999999;
  }
  .w3-bar .w3-bar-item:hover {
    color:#757575 !important;
  }
  a.w3schoolslink {
    padding:0 !important;
    display:inline !important;
  }
  a.w3schoolslink:hover,a.w3schoolslink:active {
    text-decoration:underline !important;
    background-color:transparent !important;
  }
  #dragbar{
    position:absolute;
    cursor: col-resize;
    z-index:3;
    padding:5px;
  }
  #shield {
    display:none;
    top:0;
    left:0;
    width:100%;
    position:absolute;
    height:100%;
    z-index:4;
  }
  #framesize {
    font-family: 'Montserrat', 'Source Sans Pro', sans-serif;
    font-size: 14px;
  }
  #container {
    background-color:#E7E9EB;
    width:100%;
    overflow:auto;
    position:absolute;
    top:50px;
    bottom:0;
    height:auto;
  }
  #textareacontainer, #iframecontainer {
    float:left;
    height:100%;
    width:50%;
  }
  #textarea, #iframe {
    height:100%;
    width:100%;
    padding-bottom:10px;
    padding-top:1px;
  }
  #textarea {
    padding-left:10px;
    padding-right:5px;
  }
  #iframe {
    padding-left:5px;
    padding-right:10px;
  }
  #textareawrapper {
    width:100%;
    height:100%;
    background-color: #ffffff;
    position:relative;
    box-shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  #iframewrapper {
    width:100%;
    height:100%;
    -webkit-overflow-scrolling: touch;
    background-color: #ffffff;
    box-shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  #textareaCode {
    background-color: #ffffff;
    font-family: consolas,Menlo,"courier new",monospace;
    font-size:15px;
    height:100%;
    width:100%;
    padding:8px;
    resize: none;
    border:none;
    line-height:normal;
  }
  .CodeMirror.cm-s-default {
    line-height:normal;
    padding: 4px;
    height:100%;
    width:100%;
  }
  #iframeResult, #iframeSource {
    background-color: #ffffff;
    height:100%;
    width:100%;
  }
  #stackV {background-color:#999999;}
  #stackV:hover {background-color:#BBBBBB !important;}
  #stackV.horizontal {background-color:transparent;}
  #stackV.horizontal:hover {background-color:#BBBBBB !important;}
  #stackH.horizontal {background-color:#999999;}
  #stackH.horizontal:hover {background-color:#999999 !important;}
  #textareacontainer.horizontal,#iframecontainer.horizontal{
    height:50%;
    float:none;
    width:100%;
  }
  #textarea.horizontal{
    height:100%;
    padding-left:10px;
    padding-right:10px;
  }
  #iframe.horizontal{
    height:100%;
    padding-right:10px;
    padding-bottom:10px;
    padding-left:10px;
  }
  #container.horizontal{
    min-height:200px;
    margin-left:0;
  }
  #tryitLeaderboard {
    overflow:hidden;
    text-align:center;
    margin-top:5px;
    height:90px;
  }
  .w3-dropdown-content {width:350px}

  #breadcrumb ul {
    font-family:'Montserrat', 'Source Sans Pro', sans-serif;
    list-style: none;
    display: inline-table;
    padding-inline-start: 1px;
    font-size: 12px;
    margin-block-start: 6px;
    margin-block-end: 6px;
  }
  #breadcrumb li {
    display: inline;
  }
  #breadcrumb a {
    float: left;
    background: #E7E9EB;
    padding: 3px 10px 3px 20px;
    position: relative;
    margin: 0 5px 0 0;
    text-decoration: none;
    color: #555;
  }
  #breadcrumb a:after {
    content: "";
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid #E7E9EB;
    position: absolute;
    right: -12px;
    top: 0;
    z-index: 1;
  }
  #breadcrumb a:before {
    content: "";
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid #fff;
    position: absolute;
    left: 0;
    top: 0;
  }
  #breadcrumb ul li:first-child a:before {
    display: none;
  }
  #breadcrumb ul:last-child li{
    padding-right: 5px;
  }
  #breadcrumb ul li a:hover {
    background: #04AA6D;
    color:#fff;
  }
  #breadcrumb ul li a:hover:after {
    border-left-color: #04AA6D;
    color:#fff;
  }
  #breadcrumb li:last-child {
    display: inline-block!important;
    margin-top: 3px!important;
  }
  .darktheme #breadcrumb li {
    color:#fff;
  }
  .darktheme #breadcrumb a {
    background:#616161;
    color: #ddd;
  }
  .darktheme #breadcrumb a:after {
    border-left: 12px solid #616161;
  }
  .darktheme #breadcrumb a:before {
    border-left: 12px solid rgb(40, 44, 52);
  }
  .darktheme .currentcrumb {
    color:#ddd;
  }
  #runbtn {
    background-color:rgb(40, 44, 250);
    color:white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:18px;
    padding:6px 25px;
    margin-top:4px;
    border-radius:5px;
    border-color: rgb(40, 44, 250);
    word-spacing:10px;
  }
  #runbtn:hover {
    background-color: #059862 !important;
    color:white!important;
  }
  #getwebsitebtn {
    background-color:#04AA6D;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-size: 18px;
    padding:6px 15px;
    margin-top:4px;
    margin-right: 10px;
    display: block;
    float: right;
    border-radius: 5px;
  }
  #getwebsitebtn:hover {
    background-color: #059862 !important;
    color:white!important;
  }

  @media screen and (max-width: 727px) {
    .trytopnav {top:70px;}
    #container {top:116px;}
    #breadcrumb {display:none;}
    #tryhome  {display:block;}
  }
  @media screen and (max-width: 467px) {
    .trytopnav {top:60px;}
    #container {top:106px;}
    .w3-dropdown-content {width:100%}
  }
  @media only screen and (max-device-width: 768px) {
    #iframewrapper {overflow: auto;}
    #container     {min-width:310px;}
    .stack         {display:none;}
    #tryhome       {display:block;}
    .trytopnav     {min-width:310px;}
  }

  body.darktheme {
    background-color:rgb(40, 44, 52);
  }
  body.darktheme #tryitLeaderboard{
    background-color:rgb(40, 44, 52);
  }
  body.darktheme .trytopnav{
    background-color:#616161;
    color:#dddddd;
  }
  body.darktheme #container {
    background-color:#616161;
  }
  body.darktheme .trytopnav a {
    color:#dddddd;
  }
  body.darktheme ::-webkit-scrollbar {width:12px;height:3px;}
  body.darktheme ::-webkit-scrollbar-track-piece {background-color:#000;}
  body.darktheme ::-webkit-scrollbar-thumb {height:50px;background-color: #616161;}
  body.darktheme ::-webkit-scrollbar-thumb:hover {background-color: #aaaaaa;}

  .trytopnav {
    height:48px!important;
  }
  .fa {
    padding: 10px 10px!important;
  }
  a.topnav-icons, a.topnav-icons.fa-home, a.topnav-icons.fa-menu {
      font-size: 28px!important;
  }

   /* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

 /* The container must be positioned relative: */
 .custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
